<br />
<br />
<br />
<section class="main__middle__container">
  <div class="container" id ="hideme">
    <div class="row nothing">
      <section class="col-md-12 pull-left main-content">
        <div class="login-box">
  <!-- /.login-logo -->

    <h2><span class="label label-danger">Sign in</span> </h2>
      <%= form_tag session_path do %>
      <div class="form-group has-feedback">
        <%= text_field_tag :uid, "" ,class: 'form-control',placeholder: 'Enter your ID'%> 
      </div>
      
          <div><%= submit_tag "Log In" , class: "btn btn-primary"%>
          </div>
        
        <% end %>
        <div class="row">
        <div class="col-md-12 col-xs-6">
      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="auth/facebook" class="btn btn-block btn-social btn-facebook btn-success"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
        </div>
      </div>
    </div>
  <!-- /.login-box-body -->

      </section>
    </div>    
  </div>
</section>


