<section class="content">
  <div class = "row">
    <div class="col-md-4 col-sm-2">
      <p class="triangle-border top">
      <span class="label label-danger">Category</span>&nbsp;
      <span id="question-category"></span>
      </p>
    </div>
    <div class="col-md-4 col-sm-2">
      <p class="triangle-obtuse top">
      <span class="label label-success">Question</span>&nbsp;
      <span id="question-text"></span>
      </p>
    </div>
    <div class="col-md-2 col-sm-2">
      <p id="demo"></p>
    </div>
    <div class="col-md-2 col-sm-2">
      <div id="player-notification"class="callout callout-danger" hidden>
        <h3>Answered:</h3>
        <ul></ul>
      </div>
    </div>
  </div>
  <div class ="row">
    <div class="col-md-3">
      <div class="box box-danger" id="answer-1">
        <div class="box-header with-border text-middle">
          <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>  <span class="label label-primary">Choose A </span> 
        </div>
        <div class="box-body text-middle">
          <p class="answer-text">
          - Answer it is whereever you go whereever </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box box-danger" id="answer-2">
        <div class="box-header with-border text-middle">
          <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>  <span class="label label-primary">Choose B</span> 
        </div>
        <div class="box-body text-middle">
          <p class="answer-text">
          - Answer it is whereever you go whereever </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box box-danger" id="answer-3">
        <div class="box-header with-border text-middle">
          <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>  <span class="label label-primary">Choose C</span> 
        </div>
        <div class="box-body text-middle">
          <p class="answer-text">
          - Answer it is whereever you go whereever </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="box box-danger" id="answer-4">
        <div class="box-header with-border text-middle">
          <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>  <span class="label label-primary">Choose D</span> 
        </div>
        <div class="box-body text-middle">
          <p class="answer-text">
          - Answer it is whereever you go whereever </p>
        </div>
      </div>
    </div>
  </div>
</section>
