<br />
<br />
<br />
<section class="main__middle__container">
  <div class="container" id ="hideme">
    <div class="row nothing">
      <aside class="col-md-4 pull-left">
        <p id="demo"></p>
        <div id="player-notification" class="callout callout-danger" hidden>
          <h3>Answered:</h3>
          <ul></ul>
        </div>
      </aside>
      <section class="col-md-8 pull-right main-content">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-text-width"></i>
            <span class="label label-danger">Category</span>&nbsp;
            <h5>  <span id="question-category"></span></h5>
          </div>
          <div class="box-body">
            <span class="label label-success">Question</span>&nbsp;
            <h3><span id="question-text"></span></h3>
          </div>
        </div>
        <div class ="row">
          <div class="col-md-3" id="answer-box">
            <div class="box box-danger" id="answer-1">
              <div class="box-header with-border text-middle">
                <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>  <span class="label label-primary">Choose A </span>
              </div>
              <div class="box-body text-middle">
                <h5 class="answer-text">
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="answer-box">
            <div class="box box-danger" id="answer-2">
              <div class="box-header with-border text-middle">
                <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>  <span class="label label-primary">Choose B</span>
              </div>
              <div class="box-body text-middle">
                <h5 class="answer-text">
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-3" id="answer-box">
          <div class="box box-danger" id="answer-3">
            <div class="box-header with-border text-middle">
              <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>  <span class="label label-primary">Choose C</span>
            </div>
            <div class="box-body text-middle">
        <h5 class="answer-text">
            </h5>
            </div>
          </div>
        </div>
        <div class="col-md-3" id="answer-box">
          <div class="box box-danger" id="answer-4">
            <div class="box-header with-border text-middle">
              <i class="fa fa-play-circle fa-5x" aria-hidden="true"></i>  <span class="label label-primary">Choose D</span>
            </div>
            <div class="box-body text-middle">
           <h5 class="answer-text">
            </h5>
            </div>
          </div>
        </div>
      </div>
        <br />
        <br />
      </section>
    </div>
  </div>
  </div>
</section>
<script>beginGame(<%= @game.id %>)</script>
<div class="modal"><!-- Place at bottom of page --></div>
<script>
var $body = $("body");

$(function(){
  console.log("hello");
     $body.addClass("loading") ;
   //  $body.removeClass("loading")     
});
</script>