<div class="content-wrapper">
  <div class="container">
    <section class="content-header">
      <h1>Quiz Game</h1>
    </section>
 
    <section class="content">
      <h1>play the game mofo</h1>
     
      <div class="row">
        <div class="col-md-8 col-sm-6"> 
          <table id = "game-questions">
      <!-- put in questions here with all the answers -->
      <!-- set timer of 7 seconds per question or press submit whatever comes first -->
          </table>
        </div>
      <div class="col-md-4 col-sm-6">
        <h1>Players progress</h1>
      <ul id ="answers">
      </ul>
         <!-- get player list from params from Ajax and poll 
        to see their progress? -->
      </div>
  </div>
  </section>
</div>
</div>
<!--  -->


 <script>
// App.cable.subscriptions.create({channel: "GameChannel", game_id: <%= @game.id %>}, {
//   received: (data) => {
//      var answers = $('#answers');
//      // if (data.game_start) {
//      //  //  game_room
//      //   let game = data.game_start;
//         answers.append($('<li>').text(data.game_start));
//      // }
//   //   else if (data.removed_user) {
//   //     let user = data.removed_user;
//   //     playerList.find(`#user-${user.id}`).remove();
//   //   }
//   // }
//   console.log(data);
//   console.log(data.game_start);
//   }

// })
</script>
