  <footer id="footerArea">
      
        <div class="footer_bottom">
          <div class="container">
                <div class="row">
                    
                    <div class="col-sm-6">
                        
                        <p>Lorem Ipsum is simply</p>
                    
                    </div>
                    
                    <div class="col-sm-6 social">

                        <ul>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    
                    </div>
                    
                </div>
      
            </div>
        </div>
    
    </footer>
    <!-- end footer area -->
            
    <!-- Bootstrap core JavaScript -->
   <!--  <script src="javascripts/jquery-1.10.2.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.mixitup.min.js"></script>
    <script src="javascripts/jquery.ui.map.min.js"></script>
    <script src="javascripts/jquery.prettyPhoto.js"></script>
    <script src="javascripts/jquery.flexslider-min.js"></script>
    <script src="javascripts/retina-1.1.0.min.js"></script>
    <script src="javascripts/scrolld.min.js"></script>
    <script src="javascripts/scripts.js"></script> -->