<header class="main__header">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation"> 
      <!-- Brand and toggle get grouped for better mobile display --> 
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <h1 class="navbar-brand"><a href="/"><span>TRICKSY</span>-<span>-</span>TRIVIA</a></h1>
        <a href="#" onClick="javascript.void()" class="submenu">Menus</a> </div>
      <div class="menuBar">
        <ul class="menu">
           <% if current_user %>
            <li> <%= link_to "Welcome "+current_user.first_name, user_dashboard_path, id: "Dashboard" %></li>
            <li> <%= link_to image_tag(current_user.image, class: "img-circle", size: 30) %></li>
            <li> <%= link_to "Sign out", signout_path, id: "sign_out" %></li>
          <% else %>
            <li> <%= link_to "Login ", new_session_path %></li>
          <% end %>
       </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </nav>
  </div>
</header>
<br />


<script type="text/javascript">
$( "a.submenu" ).click(function() {
$( ".menuBar" ).slideToggle( "normal", function() {
// Animation complete.
});
});
$( "ul li.dropdown a" ).click(function() {
$( "ul li.dropdown ul" ).slideToggle( "normal", function() {
// Animation complete.
});
$('ul li.dropdown').toggleClass('current');
});
</script>
<!--  -->