<table class = "table table-striped">
   <caption>Leaderboard</caption>

   <thead>
      <tr>
         <th>Name</th>
         <th>Points</th>
         <th>Completed</th>
      </tr>
   </thead>

   <tbody>
      <tr>
         <td>User1</td>
         <td>User2</td>
         <td>User3</td>
      </tr>

      <tr>
         <td>90</td>
         <td>80</td>
         <td>70</td>
      </tr>

      <tr>
         <td>9/10</td>
         <td>8/10</td>
         <td>7/10</td>
      </tr>
   </tbody>

</table>
