<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Question ###</div>
  <div class="panel-body">
    <p>Put the question here!</p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <button type="button" class="list-group-item">A) ..... </button>
    <button type="button" class="list-group-item">B) ..... </button>
    <button type="button" class="list-group-item">C) ..... </button>
    <button type="button" class="list-group-item">D) ..... </button>
  </ul>
</div>
